<!DOCTYPE html>
<html lang="pt-br">
    <html>
        <head>
            <title>Gerenciador</title>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
            <link rel="stylesheet" type="text/css" href="../css/estilo.css"></script>
    </head>
    <body id="corpoMenu">
        <div id="barra">
            <ul id="listaLinks">
                <li><a href="criarEquipe.php">Equipes</a></li>
                <li><a href="equipes.php">Ver equipes</a></li>
                <li><a href="criarEvento.php">Eventos</a></li>
                <li><a href="criarQuestao.php">Questoes</a></li>
                <li><a href="perfilEdit.php">Perfil</a></li>
            </ul>
        </div>

    </body>

</html>